*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
}

.botons{
    width: 50%;
    min-height: 100vh;
    background-color: rosybrown;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
    gap: 20px;
    padding: 30px;
}

.botons > button{
    height: 90px;
}


.form{
    width: 50%;
    min-height: 100vh;
    background-color: black;
}


#form1{
    display: none;
    width: 420px;
    height: 120px;
    background-color: aquamarine;
}
#form2{
    display: none;
    width: 420px;
    height: 120px;
    background-color: blueviolet;
}
#form2{
    display: none;
    width: 420px;
    height: 120px;
    background-color: blueviolet;
}
#form2{
    display: none;
    width: 420px;
    height: 120px;
    background-color: blueviolet;
}




.solution4{
    width: 40px;
    height: 120px;
}



.formulario > div{
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 30px;
    border: 1px solid red;
}

.formulario > div{
    display: none;
}

