*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
}

.botons{
    width: 50%;
    min-height: 100vh;
    background-color: rosybrown;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
    gap: 20px;
    padding: 30px;
}

.botons > button{
    height: 90px;
}


.formulario{
    width: 50%;
    min-height: 100vh;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}




.formulario > div{
    display: none;

}




